/* 总的样式 */
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	overflow-x: hidden;
    box-sizing: border-box; /* 设置框模型为边框框模型 */
}

body {
	margin: 0; /* 消除了body默认的外边距，即一直出现的白框 */
	font: 300 17px;
	text-shadow: 0px 0px 1px rgba(0,0,0,.1);
}

a {
	text-decoration: none;
    -webkit-transition: color .2s ease-out,border .2s ease-out,opacity .2s ease-out;
	-moz-transition: color .2s ease-out,border .2s ease-out,opacity .2s ease-out;
	transition: color .2s ease-out,border .2s ease-out,opacity .2s ease-out
}

a:active,a:focus,a:hover {
	outline: none;
}


h1 {
	font-size: 2em;
	margin: .67em 0
}

img {
	border: 0
}

figure {
	margin: 1em 40px
}

/* 将所有 HTML 元素的框模型设置为边框框模型 */
* {
	box-sizing: border-box
}

*:before,*:after {
	box-sizing: inherit
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em
}

img {
	height: auto;
	max-width: 100%
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



